services:
  - type: web
    name: lord-chain
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: AUTO_CREATE_TABLES
        value: "0"
